.container {
    height: 3.125rem;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div {
    color: black;
}

.navbar  {
    width: 120rem;
    display: flex;
    /*gap: 3rem 3rem;*/
    justify-content: space-between;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid black;
}

.logo {
    display: flex;
    background-color: white;
    height: 100%;
    align-items: center;
    padding: 0 3rem;
}

.list {
    display: flex;
    gap: 48px;
    color: white;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.list form {
    width: 100%;
}



.userMenu  {
    background-color: white;
    display: flex;
    height: 100%;
    align-items: center;
}

.userMenu h3 {
    padding: 0 0.5rem;
    width: 12rem;
    text-align: center;
}

.userMenu button {
    padding: 0 2rem;
    background-color: white;
    border: none;
    border-left: 1px solid black;
    height: 100%;
    transition: 0.2s;
}

.userMenu button:hover {
    background-color: black;
    color: white;
}

.selectWrapper {
    height: 100%;
}

.selectWrapper select {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    border: none;
    height: 100%;
}